In [1]:
import pandas as pd
import numpy as np

In [45]:
df1 = pd.read_csv('/content/project 1.csv',header=0)
df2 = pd.read_csv('/content/project 2.csv',header=0)

In [46]:
print(df1)
print(df2)
print(df1.columns)

   Period  Cash Inflow  Cash Outflow
0       0            0      -1500000
1       1       325000       -100000
2       2       475000       -100000
3       3       550000       -100000
4       4       595000       -100000
5       5       625000       -100000
   Period  Cash Inflow  Cash Outflow
0       0            0       -250000
1       1        65000        -10000
2       2        75000        -10000
3       3        82500        -10000
4       4        86000        -10000
5       5        89000        -10000
Index(['Period', 'Cash Inflow', 'Cash Outflow'], dtype='object')

In [47]:
df1['Net Cash Flow'] = df1['Cash Inflow'] + df1['Cash Outflow']
df2['Net Cash Flow'] = df2['Cash Inflow'] + df2['Cash Outflow']
print(df1)
print(df2)

   Period  Cash Inflow  Cash Outflow  Net Cash Flow
0       0            0      -1500000       -1500000
1       1       325000       -100000         225000
2       2       475000       -100000         375000
3       3       550000       -100000         450000
4       4       595000       -100000         495000
5       5       625000       -100000         525000
   Period  Cash Inflow  Cash Outflow  Net Cash Flow
0       0            0       -250000        -250000
1       1        65000        -10000          55000
2       2        75000        -10000          65000
3       3        82500        -10000          72500
4       4        86000        -10000          76000
5       5        89000        -10000          79000

In [54]:
import numpy_financial as npf
IRR_1 = npf.irr(df1['Net Cash Flow'].values)
IRR_2 = npf.irr(df2['Net Cash Flow'].values)
print(IRR_1*100)
print(IRR_2*100)

10.382578585799251
11.337777494709922

In [63]:
NPV_profile_1 = [] 
NPV_profile_2 = [] 
for i in range(1,int(max(IRR_1*100,IRR_2*100)+5)):
  NPV_profile_1.append(npf.npv(rate=0.01*i, values=df1['Net Cash Flow'].values))
  NPV_profile_2.append(npf.npv(rate=0.01*i, values=df2['Net Cash Flow'].values))

In [68]:
NPV_profile_1 = list(map(int, NPV_profile_1))
NPV_profile_2 = list(map(int, NPV_profile_2))
print(NPV_profile_1)
print(NPV_profile_2)

[502353, 437883, 376404, 317742, 261737, 208238, 157104, 108205, 61419, 16629, -26268, -67377, -106790, -144595, -180876]
[86742, 76480, 66685, 57330, 48390, 39841, 31662, 23834, 16336, 9151, 2262, -4345, -10686, -16775, -22624]

In [77]:
NPV_profile_data = [NPV_profile_1,NPV_profile_2]
NPV_profile_data = np.transpose(np.array(NPV_profile_data))
# print(NPV_profile_data)
npv_df = pd.DataFrame(NPV_profile_data, columns=['Project_1', 'Project_2'])
print(npv_df)

    Project_1  Project_2
0      502353      86742
1      437883      76480
2      376404      66685
3      317742      57330
4      261737      48390
5      208238      39841
6      157104      31662
7      108205      23834
8       61419      16336
9       16629       9151
10     -26268       2262
11     -67377      -4345
12    -106790     -10686
13    -144595     -16775
14    -180876     -22624

In [78]:
npv_df.to_csv('NPV_profile_data.csv')